@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:900&display=swap");

body{
	--black: #111111;
   --background: #f3f3f3;
   --foreground: #ffffff;
   --color-light: #fff5f0;
   --color-mid: #ff8e72;
   --color-dark: #ed6a5e;
   --accent-light: #4ce0b3;
   --accent-dark: #4ea18f;

	background-image: url("https://i.imgur.com/oCkZKrp.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
	
	font-family: "Montserrat", sans-serif;
}

.login-page{
	position: absolute;
	transform: translate(-50%, 0);
	left: 50%;
	padding: 3vw;
	margin-top: 20px;
	width: 80vw;
	height: 100vw;

	background-color: var(--color-light);
	box-shadow: 0 0.2vw 1vw var(--black);
	border-radius: 7vw;
}

.login-page h1 {
	font-family: "Roboto", sans-serif;
	font-size: 7vw;
	color: var(--color-light);
	text-shadow: 0.5vw 0.5vw 0 var(--accent-dark),
				 1vw 1vw 0 var(--color-dark),
				 0 0 0.1vw var(--black);
}

.login-page h2 {
	font-size: 4vw;
	font-weight: 400;
	color: var(--color-mid);
}

.form{
	position: relative;
	max-width: 90vw;
	text-align: center;
	
	resize: none;
}

.form input{
	font-family: "Montserrat", sans-serif;
	font-size: 5vw;
	outline: 1;
	border: 0;
	background: var(--color-light);
	height: 12vw;
	box-sizing: border-box;
	width: 80vw;
}

.form button{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	color: #FFFFFF;
	font-size: 14px;
	cursor: pointer;
	
}

.form button:hover,.form button:active{
	background: #43A047;
}

.form .log-message{
	color: mediumblue;
	font-size: 20px;
	margin-top: 20vw;
}

.form .message a{
	color: var(--accent-dark);
	font-weight: 600;
	text-decoration: none;
}

.form .register-form{
	display: none;
}

.textInput{
	margin-top: 2px;
	height: 5vw;
	border: 1px solid var(--black);
	font-size: 16px;
	width: 100%;
}

.btn{
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	color: var(--accent-dark);
	width: 100%;
	border: 0;
	padding: 15px;
	font-size: 14px;
	cursor: pointer;
}

.val_error{
	color: var(--color-mid)
}

@media screen and (min-width: 600px) {
	
	.login-page{
		padding: 18px;
		width: 480px;
		height: 600px;
		border-radius: 42px;
	}

	.login-page h1 {
		font-size: 42px;
		text-shadow: 3px 3px 0 var(--accent-dark),
					6px 6px 0 var(--color-dark),
					0 0 0.6px var(--black);
	}

	.login-page h2 {
		font-size: 24px;
	}

	.form{
		max-width: 540px;
	}

	.form input{
		font-size: 30px;
		height: 72px;
		width: 480px;
	}

	.form .log-message{
		margin-top: 120px;
	}

	.textInput{
		height: 30px;
	}
}